<!DOCTYPE html>

<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Resorto</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/hover.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	
	<body>

		<div id="landing-header">
			<h1>Welcome to Resorto!</h1>
			<hr>
			<p class="description">Share and discover the best resorts you have visited!</p>
			<a href="/resorts" class="btn btn-primary landingButton hvr-pulse-grow">Enter & Enjoy!</a>
		</div>
		<!-- shows a slideshow of resort backgrounds -->
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
	</body>
</html>